<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/styles.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="toppane">
        <b>Time Delay Attack Detection and Delay Value Estimation</b>
      </div>
      <div class="leftpane">
        <form action="/polls/" method="post"  enctype="multipart/form-data">
          {% if protection %}
            <input type="submit" name="goback" value="Go Back">
          {% endif %}
          <b>{% csrf_token %}
          {{ form.as_p }}</b>
          <input type="submit" name="apply" value="Apply">
        </form>
        <br>
        <br>
        {% if protection %}
          <button onclick="GFG_Fun()">Restart Simulation</button>
        {% endif %}
      </div>

      <div class="centerpane">
        <!-- <center> -->
        <!-- {% load static %} -->
          {% if protection %}
            <img id="signal" src="{% static 'polls/signal1.png' %}" alt="Original Signal" width="100%"/>
            <br>
            <!-- <br> -->
            <img id="classification" src="{% static 'polls/classification1.png' %}" alt="Classification Output" width="100%"/>
            <!-- <br> -->
            <br>
            <img id="regression" src="{% static 'polls/regression1.png' %}" alt="Regression Output" width="100%"/>
          {% endif %}
        <!-- </center> -->
      </div>
      <div class='rightpane'>
        <br>
        {% if ppcs %}
          <h3>Power Plant Control System</h3>
          <img src="{% static 'polls/ppcs.png' %}" alt="PPCS System" width="80%"/>
        {% else %}
          <h3>Automatic Generation Control</h3>
          <img src="{% static 'polls/agc.png' %}" alt="AGC System" width="80%"/>
        {% endif %}

        <br>
        <br>
        {% if protection %}
          <b>
          <p id="launched" style="color:darkred"></p>
          <p id="detected" style="color:blue"></p>
          <p id="predicted" style="color:green"></p>
          </b>
        {% endif %}
      </div>
      <!-- <div style="clear:both; font-size:1px;"></div> -->
    </div>
    <script>
        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }
        document.addEventListener('DOMContentLoaded', function() {
          GFG_Fun();
          }, false);
        var signal = document.getElementById('signal');
        var classification = document.getElementById('classification');
        var regression = document.getElementById('regression');
        var endnum = "{{endnum}}";
        var detectnum = "{{detectnum}}";
        var predictnum = "{{predictnum}}";
        var launchnum = "{{launchnum}}";
        var attack_loc = "{{attack_loc}}";
        var attack_value = "{{attack_value}}";
        var detection_loc = "{{detection_loc}}";
        var prediction_loc = "{{prediction_loc}}"
        var prediction_value = "{{prediction_value}}"
        async function GFG_Fun() {
            document.getElementById('launched').innerHTML = "";
            document.getElementById('detected').innerHTML = "";
            document.getElementById('predicted').innerHTML = "";
            var i;
            for (i = 1; i < endnum; i++) {
              await sleep(1000);
              signal.src = "/static/polls/signal" + i + ".png";
              classification.src = "/static/polls/classification" + i + ".png";
              regression.src = "/static/polls/regression" + i + ".png";
              if (i == launchnum) {
                document.getElementById('launched').innerHTML = "Attack launched at : " + attack_loc + " sec <br> Delay value : " + attack_value + " sec";
              }
              if (i == detectnum) {
                document.getElementById('detected').innerHTML = "Attack detected at : " + detection_loc + " sec";
              }
              if(i == predictnum) {
                document.getElementById('predicted').innerHTML = "Delay value estimated at : " + prediction_loc + " sec <br> Estimated delay value : " + prediction_value + " sec";
              }
            }
        }
    </script>
  </body>
</html>
